{%extends 'base.html' %} {% load static %} {% block content %}

<body class="font-poppins h-screen w-screen flex flex-col bg-indigo-100">
    {%include 'reusable/landing_header.html'%}
    <div
        id="body"
        class="h-full lg:mx-24 flex flex-col items-center justify-center"
    >
        <div class="flex flex-col justify-around items-center gap-8 mb-16">
            <div
          
                class="h-full col-span-2 flex flex-col justify-center bg-white rounded-2xl px-4 py-8 shadow-xl border-2 border-black"
            >

          
                <form method="POST">
                    {% csrf_token %}
                    <div
                    class="flex flex-col justify-center items-center gap-4"
                >
                    <h1 class="text-primary text-3xl font-bold mb-2">
                       Forgotten Password?
                    </h1>
                    <p class="text-gray-500 text-sm text-center px-8 pb-4">
                        Enter your e mail address to obtain a new password.
                    </p>
                  
                        {{ form.as_p }}
                       
                        <button

                        type="submit"
                        class="text-sm bg-white mt-1 h-12 w-2/5 rounded-3xl text-primary font-bold hover:bg-primary hover:text-white border-primary border-2"
                    >
                        Send
                    </button>
                </form>
            </div>
        </div>
    </div>
</body>

{% endblock %}
