{%extends 'base.html' %} {% load static %} {% block content %}

<body class="font-poppins h-screen w-screen flex flex-col bg-indigo-100">
    {% include 'reusable/landing_header.html' %}
    <div id="body" class="h-full lg:mx-24 flex flex-col items-center justify-center">
        <div class="flex flex-col justify-around items-center gap-8 mb-16">
            <div class="h-full col-span-2 flex flex-col justify-center bg-white rounded-2xl px-4 py-8 shadow-xl border-2 border-black">
                <h1 class="text-primary text-3xl font-bold mb-2">Reset your password!!</h1>
                {% if validlink %}
                <p>Please enter your new password twice:</p>
                <form action="." method="post">
                    {{ form.as_p }}
                    {% csrf_token %}
                    <p><input type="submit" value="Change my password" /></p>
                </form>
                {% else %}
                <p>Opps! The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
                {% endif %}
            </div>
        </div>
    </div>
</body>
{% endblock %}

