{%extends 'base.html' %} {% load static %} {% block content %}

<body class="font-poppins h-screen w-screen flex flex-col bg-indigo-100">
    {%include 'reusable/landing_header.html'%}
    <div
        id="body"
        class="h-full lg:mx-24 flex flex-col items-center justify-center"
    >
        <div class="flex flex-col justify-around items-center gap-8 mb-16">
            <div
                class="h-full col-span-2 flex flex-col justify-center bg-white rounded-2xl px-4 py-8 shadow-xl border-2 border-black"
            >
          
            <h1 class="text-primary text-3xl font-bold mb-2">Password set</h1>
            <p>Your password has been set. Now you can <a href="{% url 'login' %}" class="text-primary font-bold hover:text-secondary">Login</a>
            </p>
            
            </div>
        </div>
    </div>
</body>

{% endblock %}
