<div
    class="relative z-10 hidden"
    aria-labelledby="modal-title"
    role="dialog"
    aria-modal="true"
    id="createquestionmodal"
>
    <!--
    Background backdrop, show/hide based on modal state.

    Entering: "ease-out duration-300"
      From: "opacity-0"
      To: "opacity-100"
    Leaving: "ease-in duration-200"
      From: "opacity-100"
      To: "opacity-0"
  -->
    <div
        class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
    ></div>

    <div class="fixed inset-0 z-10 overflow-y-auto">
        <div
            class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0"
        >
            <!--
        Modal panel, show/hide based on modal state.

        Entering: "ease-out duration-300"
          From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
          To: "opacity-100 translate-y-0 sm:scale-100"
        Leaving: "ease-in duration-200"
          From: "opacity-100 translate-y-0 sm:scale-100"
          To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
      -->
            <div
                class="relative transform overflow-hidden rounded-xl bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg"
            >
                <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="">
                            <div
                                class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left"
                            >
                                <h3
                                    class="text-lg font-bold leading-6 text-gray-900"
                                    id="createquestiontitle"
                                >
                                    Create a Question
                                </h3>
                                <div class="my-4 w-full">
                                    <input
                                        type="text"
                                        id="action"
                                        name="action"
                                        value="createquestion"
                                        hidden
                                    />
                                    <div
                                        class="mt-2 flex justify-between items-center"
                                    >
                                        <label
                                            for="questiontype"
                                            class="block text-sm font-medium text-gray-600"
                                        >
                                            Question Type
                                        </label>
                                        <select
                                            name="questiontype"
                                            id="questiontype"
                                            onchange="changeQuestionType()"
                                            class="shadow-sm pr-4 p-2 w-72 focus:ring-blue-500 border border-gray-300 focus:border-blue-500 block w-full sm:text-sm border-gray-300 rounded-md"
                                        >
                                            <option value="SingleMCQ">
                                                Single Answer MCQ
                                            </option>
                                            <option value="MultipleMCQ">
                                                Multiple Answer MCQ
                                            </option>
                                            <option value="TrueFalse">
                                                True - False
                                            </option>
                                            <option value="Subjective">
                                                Subjective
                                            </option>
                                        </select>
                                    </div>
                                    <div
                                        class="mt-2 flex justify-between items-center"
                                    >
                                        <label
                                            for="question"
                                            class="block text-sm font-medium text-gray-700"
                                        >
                                            Question
                                        </label>
                                        <textarea
                                            type="text"
                                            name="question"
                                            id="question"
                                            class="shadow-sm p-2 h-24 w-72 focus:ring-blue-500 border border-gray-300 focus:border-blue-500 block w-full sm:text-sm border-gray-300 rounded-md"
                                            placeholder="Enter the question"
                                            required
                                        ></textarea>
                                    </div>
                                    <div
                                        class="mt-2 flex justify-between items-center hidden"
                                        id="truefalseblock"
                                    >
                                        <label
                                            for="truefalse"
                                            class="block text-sm font-medium text-gray-600"
                                        >
                                            Answer
                                        </label>
                                        <select
                                            name="truefalse"
                                            id="truefalse"
                                            class="shadow-sm p-2 w-72 focus:ring-blue-500 border border-gray-300 focus:border-blue-500 block w-full sm:text-sm border-gray-300 rounded-md pr-2"
                                        >
                                            <option value="True">True</option>
                                            <option value="False">False</option>
                                        </select>
                                    </div>
                                    <div id="mcqblock">
                                        {% for i in '1234'|make_list %}
                                        <div
                                            class="mt-2 flex justify-between items-center"
                                        >
                                            <label
                                                for="question"
                                                class="block text-sm font-medium text-gray-700"
                                            >
                                                Option {{i}}
                                            </label>
                                            <div
                                                class="flex items-center justify-between gap-2"
                                            >
                                                <input
                                                    type="radio"
                                                    name="optioniscorrect"
                                                    id="option{{i}}iscorrect"
                                                    value="{{i}}"
                                                    class="shadow-sm px-2 h-4 w-4 active:ring-blue-500 focus:ring-blue-500 border border-gray-300 focus:border-blue-500 block sm:text-sm border-gray-300 rounded-md"
                                                />
                                                <input
                                                    type="text"
                                                    name="option{{i}}"
                                                    id="option{{i}}"
                                                    class="optioniscorrect shadow-sm p-2 w-72 focus:ring-blue-500 border border-gray-300 focus:border-blue-500 block w-full sm:text-sm border-gray-300 rounded-md"
                                                    placeholder="Enter option {{i}}"
                                                />
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                    <div id="subjectiveblock" class="hidden">
                                        <div
                                            class="mt-2 flex justify-between items-center"
                                        >
                                            <label
                                                for="subjectiveanswer"
                                                class="block text-sm font-medium text-gray-700"
                                            >
                                                Answer
                                            </label>
                                            <textarea
                                                name="subjectiveanswer"
                                                id="subjectiveanswer"
                                                class="shadow-sm p-2 h-24 w-72 focus:ring-blue-500 border border-gray-300 focus:border-blue-500 block w-full sm:text-sm border-gray-300 rounded-md"
                                                placeholder="Enter the answer"
                                            ></textarea>
                                        </div>
                                    </div>
                                    <div>
                                        <div
                                            class="mt-2 flex justify-between items-center"
                                        >
                                            <label
                                                for="mark"
                                                class="block text-sm font-medium text-gray-700"
                                            >
                                                Mark
                                            </label>
                                            <input
                                                name="mark"
                                                id="mark"
                                                type="number"
                                                class="shadow-sm p-2 w-72 focus:ring-blue-500 border border-gray-300 focus:border-blue-500 block w-full sm:text-sm border-gray-300 rounded-md"
                                                placeholder="Enter mark (default 1)"
                                                min="0"
                                            />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div
                            class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6"
                        >
                            <button
                                type="submit"
                                class="inline-flex w-full justify-center rounded-md border border-transparent bg-violet-600 px-8 py-2 text-base font-medium text-white shadow-sm hover:bg-violet-700 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2 sm:ml-3 sm:w-auto sm:text-sm"
                            >
                                Update
                            </button>
                            <button
                                type="button"
                                class="mt-3 inline-flex w-full justify-center rounded-md border border-gray-300 bg-white px-4 py-2 text-base font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm"
                                onclick="createQuestionModal()"
                            >
                                Cancel
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
